/* Основные стили */

header {
	position: relative;
	height: 100px;
	
	background-color: #fff;
	box-shadow: 0 0 50px 0;

	z-index: 11;
}

.header-container {
	height: 100%;

	text-align: center;
	z-index: 100;
}

.header {
	display: flex;
	align-items: center;
	height: 100%;
}

.header__burger {
	display: none;
	width: 30px;
	height: 23px;

	border: none;
	background-image: url('../img/burger.svg');
}

.header__main-logo {
	margin-top: 3px;
	margin-left: 19px;
	margin-right: auto;
}

.header__menu {
	display: inline-block;
	margin-top: 21px;
}

.header__list {
	display: flex;
}

.header__item:not(:last-child) {
	margin-right: 85px;
}

.header__link {
	font-weight: 600;
	font-size: 18px;
	color: #333;
}

.header__link::after {
	content: '';
	display: block;
	margin-top: 10px;
	height: 2px;

	background-color: #FF9900;
	
	/* transform: translateX(-100%); */
	opacity: 0;
	transition-property: /* transform */opacity, background-color;
	transition-duration: .3s;
	transition-delay: .1s;
}

.header__link:hover::after {
	/* transform: none; */
	opacity: 1;
}

.header__link:active {
	color: #E1670E;
}

.header__link:active::after {
	transition-property: opacity, background-color;
	transition-duration: .0s;
	transition-delay: .0s;
	opacity: 1;
	background-color: #E1670E;
}

.header__search {
	position: relative;
	right: -10px;
	display: block;
	margin-top: 10px;
	margin-left: 59px;
	width: 31px;
	height: 29px;

	background-color: transparent;
	background-image: url("../img/Search.svg");
	background-repeat: no-repeat;
	background-size: 40px 22px;
	border: none;
}

.header__search:hover {
	background-image: url('../img/search_yellow.svg');
}

.header__search:active {
	background-image: url('../img/search_red.svg');
}