/* --------------media-------------- */
/* Обнуление "лишних" свойств */
@media (max-width:1770px) {
	.header__search {
		right: 0;
	}

	.about, .working, .questions {
		left: 0;
	}

	.about__show-more-card, .about__small-cards {
		width: 49.2%;
	}

	.footer-container {
		width: 100%;
	}

	.footer__involment {
		position: relative;
		right: 0;
	}

	.container {
		max-width: 90%;
	}

	.about__show-more-descr {
		padding-right: 54px;
	}

	.about__btn {
		margin-left: 0;
	}

	.about__consultation, .about__increasing {
		padding-top: 20px;
	}

	.small-card-text {
		width: auto;
	}

	.working__img {
		margin-top: 45px;
		margin-left: 0;
		width: 600px;
		height: 320px;
	}

	.footer-container {
		justify-content: space-between;
		padding-right: 19px;
	}

	.footer__menu {
		max-width: 21%;
	}

	.footer__request {
		margin-left: 120px;
		min-width: 30%;
	}

	.footer__field {
		width: 100%;
	}
	
	.footer__send {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.footer__send-btn {
		width: 35%;
	}

	.footer__involment {
		margin-left: 100px;
		width: 0;
		min-width: 22%;
	}
}

@media (max-width:1366px)  {
	.header {
		justify-content: space-between;
	}

	.about__text {
		width: auto;
	}

	.header__menu {
		margin-right: auto;
	}

	.header__item:not(:last-child) {
		margin-right: 50px;
	}

	.header__search {
		margin-left: 0;
	}

	.solutions__title {
		font-size: 60px;
	}

	.solutions__btn {
		margin-left: auto;
		margin-right: auto;
	}

	.about__cards {
		flex-direction: column;
	}

	.about__show-more-card {
		width: 100%;
	}

	.about__show-more-descr {
		justify-content: space-around;
		padding-left: 20px;
		padding-right: 20px;
	}

	.about__show-more-text {
		width: 75%;
	}

	/* .about__show-more-background {
		width: 100%;
		height: 100%;
	} */

	.about__small-cards {
		width: 100%;
	}

	.about__consultation, .about__increasing {
		width: 100%;
	}

	.about__consultation {
		margin-top: 20px;
		padding-top: 78px;
	}

	.about__small-cards .about__increasing {
		margin-top: 20px;
		padding-top: 70px;
	}

	/* .working__wrapper {
		position: relative;
		flex-direction: column;
		padding: 30px;

		text-align: center;
	}

	.working__wrapper::before  {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		background-color: rgba(0,0,0,.5);

		z-index: 10;
	}

	.working__descr {
		margin: 0 auto;
	}

	.working__title {
		color: #fff;
	}

	.working__text {
		color: #fff;
	}

	.working__buttons {
		margin-top: 30px;
	}

	.working__agreement {
		color: #fff;

		border-color: #fff;
	}
*/
	.working__img {
		margin-top: 6px;
		width: 100%;
		height: 444px;
	} 

	.footer__menu {
		margin-right: auto;
		min-width: 23%;
	}

	.footer__logo {
		width: 150px;
	}

	.footer__request  {
		margin: 0 auto;
		max-width: 40%;
	}

	.footer__send-btn {
		font-size: 14px;
	}

	.footer__involment {
		margin-top: 23px;
		/* margin-left: 50px; */
		margin-left: auto;


		font-size: 12px;
	}
}

@media (max-width:1024px) {
	.header {
		justify-content: space-between;
	}

	.header__main-logo {
		margin-left: auto;
		width: 150px;
	}

	.header__burger {
		display: block;
	}

	.header__menu {
		display: none;
	}

	.solutions {
		height: 668px;
	}

	.solutions__container {
		background-image: url('../img/balconies_1024.jpg');
		background-size: 100% 115%;
		background-position: 0 -100px;
	}
	
	.solutions__descr {
		padding: 159px 106px 50px 44px;
		width: auto;
	}

	.solutions__title {	
		font-size: 60px;
		line-height: 73px;
	}

	.solutions__text {
		margin-top: 10px;
		width: auto;

		font-size: 20px;
		line-height: 24px;
	}

	.solutions__btn {
		margin-top: 110px;
		margin-left: 0;
		padding-left: 0;
		width: 287px;
	}

	/* .solutions__pic {
		height: 100%;
	}

	.solutions__background {
		top: -100px;
		right: 0;
		left: 0;
		height: 127%;
	} */

	.about {
		margin-top: 59px;
		margin-left: -4px;
	}

	.about__text {
		margin-top: 24px;
	}

	.about__cards {
		margin-top: 59px;
	}

	.about__show-more-card {
		margin-left: 2px;
		padding-top: 467px;
		height: 639px;

		background-image: url('../img/worker_1024.jpg');
	}

	.about__show-more-descr {
		padding-left: 43px;
		padding-right: 51px;
	}

	.about__show-more-text {
		margin-right: auto;
		margin-top: 0;
		width: 60%;
	}

	.about__btn {
		margin-top: 0;
	}

	.about__consultation {
		margin-top: 51px;
		padding-top: 66px;
		padding-left: 351px;
		padding-bottom: 65px;

		background-position: 114px 76px;
	}

	.small-card {
		height: auto;
	}

	.small-card-text {
		width: 71%;
	}

	.about__small-cards .about__increasing {
		margin-top: 40px;
		padding-top: 65px;
		padding-left: 351px;
		
		background-position: 115px 62px;
	}

	.about__increasing {
		padding-bottom: 65px;
	}

	.about__increasing-text {
		margin-top: 6px;
		width: 74%;
	}

	.working {
		margin-top: 59px;
		margin-left: -7px;
	}

	.working__descr {
		margin-left: 5px;
		width: 47.1%;
	}

	.working__pic {
		margin-left: auto;
	}

	.working__img {
		display: block;
		margin-top: 10px;
		width: auto;
		height: 96%;
	}

	.working__buttons {
		margin-top: 29px;
	}

	.working__show-more {
		margin-bottom: 20px;
	}

	.working__agreement {
		margin-left: 26px;
		padding-top: 2px;
	}

	.questions {
		margin-top: 34px;
		margin-left: -3px;
	}

	.questions__item {
		padding-top: 30px;
		padding-bottom: 31px;
		height: auto;
	}

	.questions__text {
		margin-left: 3px;
		max-width: 81%;

		font-size: 20px;
		line-height: 32px;
	}

	.questions__item::before {
		top: 0;
		margin-top: 0;
	}

	.questions__item::after {
		bottom: -1px;
		margin-top: 0;
	}

	.questions__btn {
		margin-right: -3px;
	}

	footer {
		margin-top: 53px;
	}

	.footer-container {
		/* flex-wrap: wrap; */
		padding-top: 33px;
		padding-left: 0;
		padding-right: 0;
	}

	.footer__menu {
		margin-top: 15px;
		min-width: auto;
		max-width: 100%;
		width: auto;
	}

	.footer__logo {
		width: auto;
	}

	.footer__list {
		margin-left: -2px;
	}

	.footer__request {
		margin-top: 27px;
		margin-right: 0;
		margin-left: auto;
		max-width: 80%;
		width: 58%;
	}

	.footer__send-btn {
		width: 45%;
	}

	.footer__send-checkbox {
		margin-left: 6px;
	}

	.footer__send-agreement {
		position: relative;
		right: 5px;

		font-size: 16px;
		line-height: 32px;
	}

	.footer__involment {
		display: none;
	}
}

@media (max-width: 768px) {
	header {
		height: 69px;
	}

	.container {
		max-width: 87%;
	}
	
	.header__burger {
		margin-top: -4px;
		margin-left: 10px;
	}

	.header__search {
		margin-top: -1px;
		width: 43px;
		height: 24px;

		background-size: 40px 24px;
	}

	.solutions__container {
		max-width: 95%;
		margin-right: 12px;

		background-image: none;
	}

	.solutions {
		min-height: 698px;
		height: auto;

		background-image: url('../img/balconies_768.jpg');
		background-repeat: no-repeat;
		background-size: 100% 110%;
		background-position: 0 -69px;
	}

	.solutions__descr {
		padding: 191px 0 50px 23px;
		width: 100%;
	}

	.about__text {
		margin-top: 25px;
		margin-left: 3px;
	}

	.about__show-more-card {
		padding-top: 475px;
		height: 649px;

		background-image: url('../img/worker_768.jpg');
	}

	.about__show-more-descr {
		padding: 0 30px;
	}

	.about__show-more-text {
		margin-top: 0;
		width: 64%;

		line-height: 31px;
	}

	.about__btn {
		margin-top: 1px;
	}

	.about__small-cards {
		width: 99.5%;
	}

	.small-card-text {
		margin-top: 5px;
		width: 85%;
	}

	.about__consultation {
		margin-top: 40px;
		padding: 36px 0 36px 178px;

		background-size: 118px 98px;
		background-position: 29px 69px;
	}

	.about__small-cards .about__increasing {
		margin-top: 39px;
		padding: 36px 0 36px 178px;

		background-size: 118px 98px;
		background-position: 32px 69px;
	}

	.working__steps {
		margin-top: 47px;
		margin-left: 7px;
		width: 99%;
	}

	.working__wrapper {
		flex-direction: column-reverse;
	}

	.working__pic {
		margin-top: -10px;
		margin-left: 8px;
		width: 100%;
	}

	.working__img {
		width: 99%;
	}

	.working__descr {
		margin-top: 40px;
		width: 100%;
	}

	.questions {
		margin-top: 38px;
		margin-left: 0;
	}

	.questions__title {
		min-width: 105%;
	}

	.questions__text {
		max-width: 90%;
	}

	.questions__item {
		padding-top: 32px;
		padding-bottom: 29px;
	}

	.questions__item:not(:first-child) .questions__text {
		max-width: 78%;
	}

	footer {
		margin-top: 60px;
	}

	.footer-container {
		flex-direction: column-reverse;
	}

	.footer__list {
		display: none;
	}

	.footer__request {
		margin: 27px 0 0 0;
		width: auto;
	}

	.footer__request-title {
		margin-left: -3px;
	}

	.footer__send-btn {
		padding-left: 0;

		font-size: 16px;
	}

	.footer__menu {
		margin-top: 57px;
	}

	.footer__icons {
		margin-top: 12px;
	}
}