/* --------------media-------------- */
/* Обнуление "лишних" свойств */
@media (max-width:1770px) {
	.header__search {
		right: 0;
	}

	.about, .working, .questions {
		left: 0;
	}

	.about__show-more-card, .about__small-cards {
		width: 49.2%;
	}

	.footer-container {
		width: 100%;
	}

	.footer__involment {
		position: relative;
		right: 0;
	}

	.container {
		max-width: 90%;
	}

	.about__show-more-descr {
		padding-right: 54px;
	}

	.about__btn {
		margin-left: 0;
	}

	.about__consultation, .about__increasing {
		padding-top: 20px;
	}

	.small-card-text {
		width: auto;
	}

	.working__img {
		margin-top: 45px;
		margin-left: 0;
		width: 600px;
		height: 320px;
	}

	.footer-container {
		justify-content: space-between;
		padding-right: 19px;
	}

	.footer__menu {
		max-width: 21%;
	}

	.footer__request {
		margin-left: 120px;
		min-width: 30%;
	}

	.footer__field {
		width: 100%;
	}
	
	.footer__send {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.footer__send-btn {
		width: 35%;
	}

	.footer__involment {
		margin-left: 100px;
		width: 0;
		min-width: 22%;
	}
}

@media (max-width:1366px)  {
	.header {
		justify-content: space-between;
	}

	.about__text {
		width: auto;
	}

	.header__menu {
		margin-right: auto;
	}

	.header__item:not(:last-child) {
		margin-right: 50px;
	}

	.header__search {
		margin-left: 0;
	}

	.solutions__title {
		font-size: 60px;
	}

	.solutions__btn {
		margin-left: auto;
		margin-right: auto;
	}

	.about__cards {
		flex-direction: column;
	}

	.about__show-more-card {
		width: 100%;
	}

	.about__show-more-descr {
		justify-content: space-around;
		padding-left: 20px;
		padding-right: 20px;
	}

	.about__show-more-text {
		width: 75%;
	}

	.about__show-more-background {
		width: 100%;
		height: 100%;
	}

	.about__small-cards {
		width: 100%;
	}

	.about__consultation, .about__increasing {
		width: 100%;
	}

	.about__consultation {
		margin-top: 20px;
		padding-top: 78px;
	}

	.about__small-cards .about__increasing {
		margin-top: 20px;
		padding-top: 70px;
	}

	/* .working__wrapper {
		position: relative;
		flex-direction: column;
		padding: 30px;

		text-align: center;
	}

	.working__wrapper::before  {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		background-color: rgba(0,0,0,.5);

		z-index: 10;
	}

	.working__descr {
		margin: 0 auto;
	}

	.working__title {
		color: #fff;
	}

	.working__text {
		color: #fff;
	}

	.working__buttons {
		margin-top: 30px;
	}

	.working__agreement {
		color: #fff;

		border-color: #fff;
	}
*/
	.working__img {
		margin-top: 6px;
		width: 100%;
		height: 418px;
	} 

	.footer__menu {
		margin-right: auto;
		min-width: 23%;
	}

	.footer__logo {
		width: 150px;
	}

	.footer__link {
		font-size: 16px;
	}

	.footer__icon-link {
		width: 40px;
		height: 40px;
	}

	.footer__icon-facebook, .footer__icon-vkontakte, .footer__icon-instagram {
		background-size: 40px 40px;
	}

	.footer__request  {
		margin: 0 auto;
		max-width: 40%;
	}

	.footer__request-title {
		font-size: 32px;
	}

	.footer__send-btn {
		font-size: 14px;
	}

	.footer__involment {
		margin-top: 23px;
		/* margin-left: 50px; */
		margin-left: auto;


		font-size: 12px;
	}
}

@media (max-width:1024px) {
	.header {
		justify-content: space-between;
	}

	.header__main-logo {
		margin-left: auto;
		width: 150px;
	}

	.header__burger {
		display: block;
	}

	.header__menu {
		display: none;
	}

	.solutions {
		height: 665px;
	}

	.solutions__descr {
		padding: 159px 10px 50px 44px;
	}

	.solutions__title {	
		font-size: 60px;
		line-height: 73px;
	}

	.solutions__text {
		margin-top: 10px;
		width: 670px;

		font-size: 20px;
		line-height: 24px;
	}

	.solutions__btn {
		margin-top: 110px;
		margin-left: 0;
		padding-left: 0;
		width: 287px;
	}

	.solutions__background {
		top: -100px;
		right: 0;
		left: 0;
		bottom: 0;
		height: auto;
	}

	.about {
		margin-top: 61px;
		margin-left: -4px;
	}

	.about__text {
		margin-top: 24px;
	}

	.about__cards {
		margin-top: 59px;
	}

	.about__show-more-card {
		margin-left: 2px;
		padding-top: 467px;
		height: 639px;
		background-image: url('../img/worker_1024.jpg');
	}

	.about__show-more-descr {
		padding-left: 43px;
		padding-right: 51px;
	}

	.about__show-more-text {
		margin-right: auto;
		margin-top: 0;
		width: 60%;
	}

	.about__btn {
		margin-top: 0;
	}

	.about__consultation {
		margin-top: 51px;
		padding-top: 66px;
		padding-left: 351px;

		background-position: 114px 76px;
	}

	.small-card-text {
		width: 71%;
	}

	.about__small-cards .about__increasing {
		margin-top: 40px;
		padding-top: 65px;
		padding-left: 351px;
		
		background-position: 115px 62px;
	}

	.about__increasing-text {
		margin-top: 6px;
		width: 74%;
	}

	.working {
		margin-top: 59px;
		margin-left: -7px;
	}

	.working__descr {
		width: 100%;
	}

	.working__img {
		src: url('../img/consulting_1024.jpg');
	}

	.footer-container {
		flex-wrap: wrap;
	}

	.footer__menu {
		margin-top: 15px;
		min-width: 45%;
	}

	.footer__request {
		margin-right: 0;
		margin-left: auto;
		max-width: 50%;
	}

	.footer__send-checkbox {
		margin-left: 5px;
	}

	.footer__send-agreement {
		font-size: 12px;
	}
}