/* Шрифты */

@font-face {
    font-family: 'muller';
    src: url('../fonts/MullerBold.woff2') format('woff2'),
        url('../fonts/MullerBold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'muller';
    src: url('../fonts/MullerLight.woff2') format('woff2'),
        url('../fonts/MullerLight.woff') format('woff');
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'muller';
    src: url('../fonts/MullerMedium.woff2') format('woff2'),
        url('../fonts/MullerMedium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'muller';
    src: url('../fonts/MullerRegular.woff2') format('woff2'),
        url('../fonts/MullerRegular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

:root {
    --greyE5: #e5e5e5;
}

/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'muller', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #9c9c9c;
    background-color: var(--greyE5);
}

a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
    list-style: none;
}


/* общие для классов */

.container {
    margin: 0 auto;
    max-width: 1770px;
}

/* Основные стили */

header {
    background-color: #fff;
}

.header__menu {
    display: inline-block;
    margin-left: auto;
}

.header__list {
    display: flex;
}