/* Шрифты */
/* montserrat-regular - latin_cyrillic */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/montserrat-v15-latin_cyrillic-regular.woff2') format('woff2'),
		url('../fonts/montserrat-v15-latin_cyrillic-regular.woff') format('woff');
}

/* montserrat-600 - latin_cyrillic */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/montserrat-v15-latin_cyrillic-600.woff2') format('woff2'),
		url('../fonts/montserrat-v15-latin_cyrillic-600.woff') format('woff');
}

/* montserrat-700 - latin_cyrillic */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/montserrat-v15-latin_cyrillic-700.woff2') format('woff2'),
		url('../fonts/montserrat-v15-latin_cyrillic-700.woff') format('woff');
}

/* montserrat-800 - latin_cyrillic */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/montserrat-v15-latin_cyrillic-800.woff2') format('woff2'),
		url('../fonts/montserrat-v15-latin_cyrillic-800.woff') format('woff');
}

/* Общие стили */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	z-index: 10;
}

html,
body {
	margin: 0;
	padding: 0;

	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 16px;
	color: #333333;

	/* overflow-x:hidden */
}

a {
	position: relative;
	display: inline-block;
	
	text-decoration: none;
	overflow: hidden;
}

img {
	max-width: 100%;
}

ul {
	padding: 0;
	list-style: none;
}

button {
	outline: none;
	cursor: pointer;
}
/* общие для классов */

.container {
	margin: 0 auto;

	max-width: 1770px;
}

.yellow-btn {
	font-style: normal;
	font-weight: bold;
	color: #fff;

	background-color: #FF9900;
	border: none;
}

.yellow-btn:hover {
	background: rgba(255, 153, 0, 0.6);
}

.yellow-btn:active {
	background: #E1670E;
}

.section-title {
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 59px;
}

.small-card {
	height: 295px;

	border: 1px solid #CACACA;
}

.small-card:not(:first-child) {
	margin-top: auto;
}

.small-card-title {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	
	color: #333333;
}

.small-card-text {
	margin-top: 4px;
	width: 452px;

	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 32px;
}
/* Основные стили */

header {
	height: 100px;
	
	box-shadow: 0 0 50px 0;
}

.header-container {
	height: 100%;

	text-align: center;
}

.header {
	position: relative;
	display: flex;
	align-items: center;
	height: 100%;
}

.header__main-logo {
	margin-top: 3px;
	margin-left: 19px;
	margin-right: auto;
}

.header__menu {
	display: inline-block;
	margin-top: 21px;
}

.header__list {
	display: flex;
}

.header__item:not(:last-child) {
	margin-right: 85px;
}

.header__link {
	font-weight: 600;
	font-size: 18px;
	color: #333;
}

.header__link::after {
	content: '';
	display: block;
	margin-top: 10px;
	height: 2px;

	background-color: #FF9900;
	
	/* transform: translateX(-100%); */
	opacity: 0;
	transition-property: /* transform */opacity, background-color;
	transition-duration: .3s;
	transition-delay: .1s;
}

.header__link:hover::after {
	/* transform: none; */
	opacity: 1;
}

.header__link:active {
	color: #E1670E;
}

.header__link:active::after {
	transition-property: opacity, background-color;
	transition-duration: .0s;
	transition-delay: .0s;
	opacity: 1;
	background-color: #E1670E;
}

.header__search {
	position: relative;
	right: -10px;
	display: block;
	margin-top: 10px;
	margin-left: 64px;
	width: 26px;
	height: 27px;

	background-color: transparent;
	background-image: url("../img/Search.svg");
	background-repeat: no-repeat;
	background-size: 22px 22px;
	border: none;
}

.header__search:hover {
	background-image: url('../img/search_yellow.svg');
}

.header__search:active {
	background-image: url('../img/search_red.svg');
}

/* Основная часть */
/* --------------solutions-------------- */

.solutions {
	margin-top: 1px;
	height: 620px;

	background-image: url('../img/balconies.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.solutions__descr {
	/* конфликт ширины и строк текста solutions__title*/
	padding-top: 105px;
	padding-left: 78px;
	width: 900.76px;
}

.solutions__title {
	font-weight: 800;
	font-size: 70.3742px;
	line-height: 86px;

	color: #FFFFFF;
}

.solutions__text {
	margin-top: 19px;
	width: 800px;

	font-size: 23.5px;
	font-weight: bold;
	line-height: 29px;
	color: #fff;
}

.solutions__btn {
	display: block;
	margin-top: 97px;
	padding-top: 2px;
	padding-left: 8px;
	width: 280px;
	height: 80px;


	font-size: 23.4581px;
}

/* --------------about_us-------------- */

.about {
	position: relative;
	left: 22px;
	margin-top: 100px;
}

.about__text {
	margin-top: 22px;
	width: 1235px;

	line-height: 32px;
	color: #333333;
}

.about__text-icon {
	margin-top: 6px;
	margin-left: 5px;

	border-radius: 50%;
	opacity: .8;
	box-shadow: 0 5px 7px -2px;
	cursor: pointer;
}

.about__cards {
	display: flex;
	margin-top: 44px;
}

.about__show-more-card {
	padding-top: 446px;
	width: 870px;
	height: 622px;

	background-image: url('../img/worker.jpg');
	background-size: cover;
}

.about__show-more-descr {
	display: flex;
	align-items: center;
	padding-left: 54px;
	height: 100%;

	background-color: rgba(0,0,0,0.5);
}

.about__show-more-text {
	margin-top: -7px;
	width: 497px;

	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 32px;
	color: #FFFFFF;
}

.about__btn {
	margin-top: -4px;
	margin-left: 76px;
	padding-top: 2px;
	width: 176px;
	height: 60px;

	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #fff;

	background-color: Transparent;
	border: 3px solid #FF9900;

}

.about__btn:hover {
	background-color: #FF9900;
}

.about__btn:active {
	background-color: #E1670E;
	border: 3px solid #E1670E;
}

.about__small-cards {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	width: 870px;
}

.about__consultation {
	padding-top: 67px;
	padding-left: 300px;

	background-image: url('../img/circle_and_cube.svg');
	background-repeat: no-repeat;
	background-position: 63px 71px;
}

.about__increasing {
	padding-top: 64px;
	padding-left: 298px;

	background-image: url('../img/circle_and_gear.svg');
	background-repeat: no-repeat;
	background-position: 61px 51px;
}

/* --------------How_do_we_work-------------- */

.working {
	position: relative;
	left: 112px;
	margin-top: 37px;
	height: 651px;
}

.working__steps {
	display: flex;
	justify-content: space-between;
	margin-top: 49px;
	margin-left: 4px;
	width: 469px;
}

.working__steps-item {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
}

.working__steps-btn {
	background-color: transparent;
	border: none;
}

.working__steps-btn:hover {
	color: #FF9900;
}

.working__steps-btn:active {
	color: #E1670E;
}

.working__wrapper {
	display: flex;
	margin-top: 45px;
}

.working__descr {
	width: 758px;
}

.working__text {
	margin-top: 5px;

	line-height: 32px;
}

.working__buttons {
	margin-top: 60px;
}

.working__show-more {
	padding-top: 4px;
	padding-left: 6px;
	width: 175px;
	height: 60px;
}

.working__agreement {
	margin-left: 30px;
	width: 147px;
	height: 60px;

	vertical-align: top;

	background-color: transparent;
	border: 1px solid #333333;
}

.working__agreement:hover {
	color: #FFFFFF;

	background: #666666;
	border: 1px solid #333333;
}

.working__agreement:active {
	color: #FFFFFF;

	background: #000000;
	border: 1px solid #000000;
}

.working__img {
	margin-top: auto;
	margin-left: 124px;
	width: 870px;
	height: 465px;
}

/* --------------questions-------------- */

.questions {
	position: relative;
	left: 24px;
	margin-top: 162px;
}

.questions__items {
	margin-top: 37px;
}

.questions__item {
	display: flex;
	height: 111px;
	align-items: center;
	justify-content: space-between;

	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
	color: #333333;

	transition-property: color;
	transition-duration: .3s;
	transition-delay: .5s;
	/* border-top: 1px solid #CACACA;
	border-bottom: 1px solid transparent; */
}

/* .questions__item:last-child {
	border-bottom: 1px solid #CACACA;
} */

.questions__item::before {
	content:  '';
	position: absolute;
	display: block;
	margin-top: -111px;
	width: 100%;
	height: 1px;
	
	background-color: #CACACA;
}

/* .questions__item:first-child .questions__item::before {
	display: block;
} */

.questions__item::after {
	content:  '';
	position: absolute;
	display: block;
	margin-top: 111px;
	width: 100%;
	height: 1px;
	
	background-color: #CACACA;
}

.questions__item:hover ~ .questions__item::before {
	background-color: #FF9900;
	opacity: 0;
}

.questions__item::before, .questions__item::after {
	transition-property: opacity, background-color;
	transition-duration: .3s;
	transition-delay: .5s;
}

.questions__item:hover {
	color: #FF9900;
	
	/* border-color: #FF9900; */
	cursor: pointer;
}

.questions__item:hover::before {
	display: block;

	background-color: #FF9900;
	z-index: 2;
}

.questions__item:hover::after {
	background-color: #FF9900;
	z-index: 1;
}

.questions__text {
	max-width: 90%;
}

.questions__btn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 6px;
	width: 50px;
	min-width: 50px;
	height: 50px;

	border: none;
	border-radius: 50%;
}

.questions__btn::after {
	content: "";
	width: 31px;
	height: 2px;

	background-color: #000;
}

.questions__btn::before {
	content: "";
	position: absolute;
	width: 2px;
	height: 31px;

	background-color: #000;
}

/* --------------footer-------------- */


footer {
	margin-top: 100px;
	background-color: #222;
}

.footer-container {
	position: relative;
	display: flex;
	padding-top: 48px;
	padding-left: 19px;
	padding-bottom: 80px;

	width: 101%;
}

.footer__menu {
	min-width: 317px;
}

.footer__list {
	margin-top: 16px;

	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
}

.footer__item {
	margin-top: 9px;
}

.footer__link {
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #CACACA;;
}

.footer__icons {
	display: flex;
	margin-top: 108px;
}

.footer__icon:not(:first-child) {
	margin-left: 25px;
}

.footer__icon-link {
	width: 60px;
	height: 60px;
}

.footer__icon-facebook {
	background-image: url('../img/fb.svg');
}

.footer__icon-vkontakte {
	background-image: url('../img/vk.svg');

}

.footer__icon-instagram {
	background-image: url('../img/instagram.svg');

}

.footer__icon-facebook, .footer__icon-vkontakte, .footer__icon-instagram {
	background-repeat: no-repeat;
}

.footer__request {
	margin-top: 11px;
	margin-left: 282px;
}

.footer__request-title {
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 59px;

	color: #CACACA;
}

.footer__form {
	display: flex;
	flex-direction: column;
	margin-top: -3px;
}

.footer__field {
	margin-top: 25px;
	padding-left: 26px;
	width: 570px;
	height: 60px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 32px;
	color: #CACACA;
	
	border: none;
	background-color: #414141;
}

.footer__field-message {
	padding-top: 16px;
	padding-left: 26px;
	height: 150px;
	resize: none;
}

.footer__send {
	margin-top: 31px;
	width: 101%;
}

.footer__send-btn {
	padding-top: 2px;
	padding-left: 5px;
	width: 269px;
	height: 60px;


	font-size: 16px;
	line-height: 20px;
}

.footer__send-checkbox {
	margin-left: 20px;
}

.footer__send-agreement {
	display: inline-block;
	
	text-align: center;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: #CACACA;
}

.footer__involment {
	position: absolute;
	right: -13px;
	margin-top: 80px;
	margin-left: 239px;
	width: 357px;

	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 32px;
	color: #CACACA;
}
/* --------------media-------------- */
/* Обнуление "лишних" свойств */
@media (max-width:1770px) {
	.header__search {
		right: 0;
	}

	.solutions__descr {
		padding-right: 78px;
	}

	.about, .working, .questions {
		left: 0;
	}

	.about__show-more-card, .about__small-cards {
		width: 49.2%;
	}

	.footer-container {
		width: 100%;
	}

	.footer__involment {
		position: relative;
		right: 0;
	}

	.container {
		max-width: 90%;
	}

	.about__show-more-descr {
		padding-right: 54px;
	}

	.about__btn {
		margin-left: 0;
	}

	.about__consultation, .about__increasing {
		padding-top: 20px;
	}

	.small-card-text {
		width: auto;
	}

	.working__img {
		margin-top: 45px;
		margin-left: 0;
		width: 600px;
		height: 320px;
	}

	.footer-container {
		justify-content: space-between;
		padding-right: 19px;
	}

	.footer__menu {
		max-width: 21%;
	}

	.footer__request {
		margin-left: 120px;
		min-width: 30%;
	}

	.footer__field {
		width: 100%;
	}
	
	.footer__send {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.footer__send-btn {
		width: 35%;
	}

	.footer__involment {
		margin-left: 100px;
		width: 0;
		min-width: 22%;
	}
}

@media (max-width:1366px)  {
	.header {
		justify-content: space-between;
	}

	.about__text {
		width: auto;
	}

	.header__menu {
		margin-right: auto;
	}

	.header__item:not(:last-child) {
		margin-right: 50px;
	}

	.header__search {
		margin-left: 0;
	}

	.solutions__title {
		font-size: 60px;
	}

	.solutions__btn {
		margin-left: auto;
		margin-right: auto;
	}

	.about__cards {
		flex-direction: column;
	}

	.about__show-more-card {
		width: 100%;
	}

	.about__show-more-descr {
		justify-content: space-around;
		padding-left: 20px;
		padding-right: 20px;
	}

	.about__show-more-text {
		width: 75%;
	}

	.about__small-cards {
		width: 100%;
	}

	.about__consultation, .about__increasing {
		width: 100%;
	}

	.about__consultation {
		margin-top: 20px;
		padding-top: 78px;
	}

	.about__small-cards .about__increasing {
		margin-top: 20px;
		padding-top: 70px;
	}

	.working__wrapper {
		position: relative;
		flex-direction: column;
		padding: 30px;

		text-align: center;
	}

	.working__wrapper::before  {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		background-color: rgba(0,0,0,.5);

		z-index: 10;
	}

	.working__descr {
		margin: 0 auto;
	}

	.working__title {
		color: #fff;
	}

	.working__text {
		color: #fff;
	}

	.working__buttons {
		margin-top: 30px;
	}

	.working__agreement {
		color: #fff;

		border-color: #fff;
	}

	.working__img {
		position: absolute;
		top: 0;
		left: 0;
		margin-top: 0;
		width: 100%;
		height: 100%;

		z-index: 0;
	}

	.footer__menu {
		margin-right: auto;
		min-width: 23%;
	}

	.footer__logo {
		width: 150px;
	}

	.footer__link {
		font-size: 16px;
	}

	.footer__icon-link {
		width: 40px;
		height: 40px;
	}

	.footer__icon-facebook, .footer__icon-vkontakte, .footer__icon-instagram {
		background-size: 40px 40px;
	}

	.footer__request  {
		margin: 0 auto;
		max-width: 40%;
	}

	.footer__request-title {
		font-size: 32px;
	}

	.footer__send-btn {
		font-size: 14px;
	}

	.footer__involment {
		margin-top: 23px;
		/* margin-left: 50px; */
		margin-left: auto;


		font-size: 12px;
	}
}

@media (max-width:1024px) {
	.solutions__descr {
		width: 100%;
	}

	.solutions__text {
		width: 100%;
	}

	.working__descr {
		width: 100%;
	}

	.header__main-logo {
		width: 150px;
	}

	.header__item:not(:last-child) {
		margin-right: 20px;
	}

	.solutions__title {
		font-size: 45px;
		line-height: 60px;
	}

	.solutions__text {
		line-height: 34px;
	}

	.about__consultation {
		padding-top: 52px;
	}

	.about__small-cards .about__increasing {
		padding-top: 36px;
	}

	.footer-container {
		flex-wrap: wrap;
	}

	.footer__menu {
		margin-top: 15px;
		min-width: 45%;
	}

	.footer__request {
		margin-right: 0;
		margin-left: auto;
		max-width: 50%;
	}

	.footer__send-checkbox {
		margin-left: 5px;
	}

	.footer__send-agreement {
		font-size: 12px;
	}
}